.back-link {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    margin: 3% 1% 1% 1%;
    display: inline-flex;
    justify-content: start;
    align-items: flex-start;
    color: $highlight-color;
    font-size: 1.5em;
    background: lighten($main-color, 5);
    padding: 5px 15px 5px 10px;
    flex: 0 1 auto;
    transition: all 150ms ease-in-out;
    user-select: none;

    &:hover {
        background: lighten($main-color, 7);

        &:before {
            transform: translate(-3px);
        }
    }

    &:active {
        background: lighten($main-color, 10);

        &:before {
            transform: translate(-5px);
        }
    }

    &:before {
        content: "<";
        margin: 0 7px;
        transition: all 100ms ease-in-out;
    }
}